name: CI .NET

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    permissions:
      actions: write
      contents: write
      deployments: read
      pages: write
      id-token: write
      pull-requests: write
      packages: read
      security-events: write
    uses: dpvreony/github-action-workflows/.github/workflows/dotnet-ci.yml@v1.2.2
    with:
      buildOs: "windows"
      solutionName: "Vetuviem"
    secrets:
      NUGET_USER: ${{ secrets.NUGET_USER }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

